<?xml version="1.0"?>
<model>
  <name>3DR Iris with Teledyne Dalsa Genie Nano C2020 camera</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_genie_nano_cam.sdf</sdf>

  <author>
   <name>Gangik Cho</name>
   <email>chogi89@unist.ac.kr</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a Teledyne Dalsa Genie Nano C2020 camera. The original model has been created by
    Thomas Gubler and is maintained by Gangik Cho.
  </description>
</model>
